name: Update Rating Manual

on: workflow_dispatch

jobs:
  update_rating_manual:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repository
        uses: actions/checkout@v3

      - name: Update Rating List
        run: |
          echo "Update Rating Manual"
          chmod +x ./bigeloLin
          ./bigeloLin
          echo "Updated Rating List!"

      - name: Commit Changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add 'README.md'
          git commit -m 'Manual Rating Update'
          git push
